.home-container {
  margin-top: 15px;
  width: 100%;
  /* min-width: calc(100vw - 250px); */
  padding: 15px 40px;
}

.summary-blocks {
  margin-left: 18px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.single-chart {
  max-width: 88%;
  margin-left: 1.4%;
}

.dual-charts {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.dual-charts div.chart {
  width: 46%;
  margin: 15px 2%;
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 5px 15px;
    margin-top: 15px;
  }
  .summary-blocks {
    display: grid;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .single-chart {
    max-width: 98%;
    margin-left: 0;
  }
  .dual-charts div.chart {
    width: 98%;
    margin: 20px 2%;
  }
}

@media screen and (max-width: 500px) {
  .home-container {
    padding: 4px;
  }
}

/*   @media screen and (max-width: 1250px) {
  }
  
  @media only screen and (max-width: 998px) {
    .selected-main {
      min-width: 100%;
      z-index: 0;
    }
  
    .selected-main.active {
      width: 92%;
    }
  
    .summary-blocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .dual-charts {
      flex-direction: column;
    }
    .dual-charts div.chart {
      width: 98%;
      margin: 50px 2%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .selected-main {
      min-width: 100%;
      z-index: 0;
    }
    .summary-blocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      /* margin-left: 35px; 
    }
  
    .dual-charts {
      flex-direction: column;
    }
    .dual-charts div.chart {
      width: 98%;
      margin: 50px 2%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .summary-blocks {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      /* margin-left: 35px; 
    }
    .selected-main {
      width: 100%;
      overflow: hidden;
      z-index: 0;
    }
  } */
