.pagination {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  right: 50px;
  cursor: pointer;
}

.paginationItem {
  background: rgb(19, 19, 19);
  color: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: var(--secondary-text-color);
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(117, 116, 116, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
  cursor: pointer;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
  cursor: pointer;
}
