.short-summary-card {
  width: 180px;
  max-height: 70px;
  background:var(--sidebar-bg-color);
  border: 1px solid var(--main-text-color);
  border: 1px solid #fcfcfc;
  box-shadow: 0px 4px 4px #989898;  border-radius: 10px;
  margin: 10px 14px;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.short-summary-card-value {
 
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: var(--primary-color);
}


.short-summary-card-icon{
  height: 31px;
  width: 31px;
 
}

